<a href="https://colab.research.google.com/github/JapiKredi/Pinnacle_AI_program_AnalyticsVidyha/blob/main/Pandas_Preprocessing_TimeseriesData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

<center><h1>üìç üìç Preprocessing Timeseries Data üìç üìç</h1></center>

---


**`Pandas`** contains extensive capabilities and features for working with time series data for all domains. Using the NumPy datetime64 and timedelta64 dtypes, pandas has consolidated a large number of features from other Python libraries like scikits.timeseries as well as created a tremendous amount of new functionality for manipulating time series data.

---

In [1]:
# importing the pandas library and datetime module of Python Standard Library
import pandas as pd
import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# read the data set
data = pd.read_csv('/content/drive/My Drive/PreprocessingTimeseriesData/Time series Data/time_series.csv')

In [4]:
# view the top rows
data.head(5)

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

---

***Data Types of columns***

---

In [5]:
data.dtypes

ID           int64
Datetime    object
Count        int64
dtype: object

***By Default: All datetime based columns are considered as strings.***

---

#### `CHANGE THE DATA TYPE TO DATETIME`

---

In [6]:
# change type to datetime
data.Datetime = pd.to_datetime(data.Datetime)

<ipython-input-6-f384fc93257a>:2: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data.Datetime = pd.to_datetime(data.Datetime)

In [7]:
# check the data types again
data.dtypes

ID                   int64
Datetime    datetime64[ns]
Count                int64
dtype: object

In [8]:
data

          ID            Datetime  Count
0          0 2012-08-25 00:00:00      8
1          1 2012-08-25 01:00:00      2
2          2 2012-08-25 02:00:00      6
3          3 2012-08-25 03:00:00      2
4          4 2012-08-25 04:00:00      2
...      ...                 ...    ...
18283  18283 2014-09-25 19:00:00    868
18284  18284 2014-09-25 20:00:00    732
18285  18285 2014-09-25 21:00:00    702
18286  18286 2014-09-25 22:00:00    580
18287  18287 2014-09-25 23:00:00    534

[18288 rows x 3 columns]

In [9]:
data.Datetime.apply(lambda x: x.day_name())

0        Saturday
1        Saturday
2        Saturday
3        Saturday
4        Saturday
           ...
18283    Thursday
18284    Thursday
18285    Thursday
18286    Thursday
18287    Thursday
Name: Datetime, Length: 18288, dtype: object

In [10]:
data.Datetime.apply(lambda x: x.month_name())

0           August
1           August
2           August
3           August
4           August
           ...
18283    September
18284    September
18285    September
18286    September
18287    September
Name: Datetime, Length: 18288, dtype: object

---

***Let's see another data file with the time series data.***

---

In [11]:
data_2 = pd.read_csv('/content/drive/My Drive/PreprocessingTimeseriesData/Time series Data/time_series_2.csv')

In [12]:
# view the top rows of the data
data_2

          ID      Datetime  Count
0          0  25 Aug 2012       8
1          1  25 Aug 2012       2
2          2  25 Aug 2012       6
3          3  25 Aug 2012       2
4          4  25 Aug 2012       2
...      ...           ...    ...
18283  18283  25 Sep 2014     868
18284  18284  25 Sep 2014     732
18285  18285  25 Sep 2014     702
18286  18286  25 Sep 2014     580
18287  18287  25 Sep 2014     534

[18288 rows x 3 columns]

In [13]:
data_2.dtypes

ID           int64
Datetime    object
Count        int64
dtype: object

---

***We can read the date time by specifying the format.***

***Here are some of the common used directives.***

----

| **Directive** | **Meaning**                                            |
| ---           | ---                                                    |
|  **%a**       | Weekday as locale‚Äôs abbreviated name.                  |
|  **%A**       | Weekday as locale‚Äôs full name.                         |  
|  **%d**       | Day of the month as a zero-padded decimal number.      |
|  **%b**       | Month as locale‚Äôs abbreviated name.	                 |
|  **%B**       | Month as locale‚Äôs full name.	                         |
|  **%m**       | Month as a zero-padded decimal number.                 |
|  **%y**       | Year without century as a zero-padded decimal number.  |
|  **%Y**       | Year with century as a decimal number.                 |
|  **%H**       | Hour (24-hour clock) as a zero-padded decimal number.  |

---

***You can read more about the other directives and datetime library here: https://docs.python.org/3/library/datetime.html***

---

In [14]:
# convert to datetime by specifying the data time format
data_2.Datetime = pd.to_datetime(data_2.Datetime, format="%d %b %Y ")

In [15]:
data_2.head()

   ID   Datetime  Count
0   0 2012-08-25      8
1   1 2012-08-25      2
2   2 2012-08-25      6
3   3 2012-08-25      2
4   4 2012-08-25      2

---

#### `TIME BASED FEATURES`

---


---

***Create features like `month` and `month_name` from the data.***

---

In [16]:
data

          ID            Datetime  Count
0          0 2012-08-25 00:00:00      8
1          1 2012-08-25 01:00:00      2
2          2 2012-08-25 02:00:00      6
3          3 2012-08-25 03:00:00      2
4          4 2012-08-25 04:00:00      2
...      ...                 ...    ...
18283  18283 2014-09-25 19:00:00    868
18284  18284 2014-09-25 20:00:00    732
18285  18285 2014-09-25 21:00:00    702
18286  18286 2014-09-25 22:00:00    580
18287  18287 2014-09-25 23:00:00    534

[18288 rows x 3 columns]

In [17]:
# create month and month_name
data['month'] = data.Datetime.dt.month
data['month_name'] = data.Datetime.dt.month_name()

In [18]:
# view the data
data

          ID            Datetime  Count  month month_name
0          0 2012-08-25 00:00:00      8      8     August
1          1 2012-08-25 01:00:00      2      8     August
2          2 2012-08-25 02:00:00      6      8     August
3          3 2012-08-25 03:00:00      2      8     August
4          4 2012-08-25 04:00:00      2      8     August
...      ...                 ...    ...    ...        ...
18283  18283 2014-09-25 19:00:00    868      9  September
18284  18284 2014-09-25 20:00:00    732      9  September
18285  18285 2014-09-25 21:00:00    702      9  September
18286  18286 2014-09-25 22:00:00    580      9  September
18287  18287 2014-09-25 23:00:00    534      9  September

[18288 rows x 5 columns]

---

***Create `day_name`, `day_of_week`, & `day_of_year`***

---

In [19]:
# create features
data['day_name'] = data.Datetime.dt.day_name()
data['day_of_week'] = data.Datetime.dt.dayofweek
data['day_of_year'] = data.Datetime.dt.dayofyear

In [ ]:
# view the data
data.head()

,ID,Datetime,Count,month,month_name,day_name,day_of_week,day_of_year
0,0,2012-08-25 00:00:00,8,8,August,Saturday,5,238
1,1,2012-08-25 01:00:00,2,8,August,Saturday,5,238
2,2,2012-08-25 02:00:00,6,8,August,Saturday,5,238
3,3,2012-08-25 03:00:00,2,8,August,Saturday,5,238
4,4,2012-08-25 04:00:00,2,8,August,Saturday,5,238



---

#### `DIFFERENCE BETWEEN 2 DATES`

---


***Add the current date in the new column***

---

In [20]:
data.head()

,ID,Datetime,Count,month,month_name,day_name,day_of_week,day_of_year
0,0,2012-08-25 00:00:00,8,8,August,Saturday,5,238
1,1,2012-08-25 01:00:00,2,8,August,Saturday,5,238
2,2,2012-08-25 02:00:00,6,8,August,Saturday,5,238
3,3,2012-08-25 03:00:00,2,8,August,Saturday,5,238
4,4,2012-08-25 04:00:00,2,8,August,Saturday,5,238

In [21]:
data['today'] = pd.to_datetime(datetime.date.today())

In [22]:
data.head()

,ID,Datetime,Count,month,month_name,day_name,day_of_week,day_of_year,today
0,0,2012-08-25 00:00:00,8,8,August,Saturday,5,238,2024-12-28
1,1,2012-08-25 01:00:00,2,8,August,Saturday,5,238,2024-12-28
2,2,2012-08-25 02:00:00,6,8,August,Saturday,5,238,2024-12-28
3,3,2012-08-25 03:00:00,2,8,August,Saturday,5,238,2024-12-28
4,4,2012-08-25 04:00:00,2,8,August,Saturday,5,238,2024-12-28

In [23]:
difference_of_dates = data['today'] - data['Datetime']

In [24]:
difference_of_dates

0       4508 days 00:00:00
1       4507 days 23:00:00
2       4507 days 22:00:00
3       4507 days 21:00:00
4       4507 days 20:00:00
               ...
18283   3746 days 05:00:00
18284   3746 days 04:00:00
18285   3746 days 03:00:00
18286   3746 days 02:00:00
18287   3746 days 01:00:00
Length: 18288, dtype: timedelta64[ns]

In [25]:
difference_of_dates.apply(lambda x: x.days)

0        4508
1        4507
2        4507
3        4507
4        4507
         ...
18283    3746
18284    3746
18285    3746
18286    3746
18287    3746
Length: 18288, dtype: int64

In [26]:
data['day_difference'] = difference_of_dates.apply(lambda x: x.days)

In [27]:
data.head()

,ID,Datetime,Count,month,month_name,day_name,day_of_week,day_of_year,today,day_difference
0,0,2012-08-25 00:00:00,8,8,August,Saturday,5,238,2024-12-28,4508
1,1,2012-08-25 01:00:00,2,8,August,Saturday,5,238,2024-12-28,4507
2,2,2012-08-25 02:00:00,6,8,August,Saturday,5,238,2024-12-28,4507
3,3,2012-08-25 03:00:00,2,8,August,Saturday,5,238,2024-12-28,4507
4,4,2012-08-25 04:00:00,2,8,August,Saturday,5,238,2024-12-28,4507

---

### `CHALLENGES WITH TIME DATA`

---

#### DEALING WITH TIME ZONES

- If you have the dataset of a specific time zone. You can tell pandas about the local time zone and later you can convert it into different time zones.
- Use function `dt.tz_localize` to set the local time zone.


---

In [ ]:
# set the current time as of Asia
data['asia_timezone'] = data.Datetime.dt.tz_localize('Asia/Calcutta')

In [ ]:
# view the data
data.head()

,ID,Datetime,Count,month,month_name,day_name,day_of_week,day_of_year,today,day_difference,asia_timezone
0,0,2012-08-25 00:00:00,8,8,August,Saturday,5,238,2020-03-18,2762,2012-08-25 00:00:00+05:30
1,1,2012-08-25 01:00:00,2,8,August,Saturday,5,238,2020-03-18,2761,2012-08-25 01:00:00+05:30
2,2,2012-08-25 02:00:00,6,8,August,Saturday,5,238,2020-03-18,2761,2012-08-25 02:00:00+05:30
3,3,2012-08-25 03:00:00,2,8,August,Saturday,5,238,2020-03-18,2761,2012-08-25 03:00:00+05:30
4,4,2012-08-25 04:00:00,2,8,August,Saturday,5,238,2020-03-18,2761,2012-08-25 04:00:00+05:30

---

- Use the column asia_timezone and convert it into the UTC timezone.
- Use the function `tz_convert` to convert the timezone.

---

In [ ]:
# change the asia time zone to UTC
data['utc_timezone'] = data.asia_timezone.dt.tz_convert('UTC')

In [ ]:
data.head()

,ID,Datetime,Count,month,month_name,day_name,day_of_week,day_of_year,today,day_difference,asia_timezone,utc_timezone
0,0,2012-08-25 00:00:00,8,8,August,Saturday,5,238,2020-03-18,2762,2012-08-25 00:00:00+05:30,2012-08-24 18:30:00+00:00
1,1,2012-08-25 01:00:00,2,8,August,Saturday,5,238,2020-03-18,2761,2012-08-25 01:00:00+05:30,2012-08-24 19:30:00+00:00
2,2,2012-08-25 02:00:00,6,8,August,Saturday,5,238,2020-03-18,2761,2012-08-25 02:00:00+05:30,2012-08-24 20:30:00+00:00
3,3,2012-08-25 03:00:00,2,8,August,Saturday,5,238,2020-03-18,2761,2012-08-25 03:00:00+05:30,2012-08-24 21:30:00+00:00
4,4,2012-08-25 04:00:00,2,8,August,Saturday,5,238,2020-03-18,2761,2012-08-25 04:00:00+05:30,2012-08-24 22:30:00+00:00

In [ ]:
data[['asia_timezone', 'utc_timezone']]

                  asia_timezone              utc_timezone
0     2012-08-25 00:00:00+05:30 2012-08-24 18:30:00+00:00
1     2012-08-25 01:00:00+05:30 2012-08-24 19:30:00+00:00
2     2012-08-25 02:00:00+05:30 2012-08-24 20:30:00+00:00
3     2012-08-25 03:00:00+05:30 2012-08-24 21:30:00+00:00
4     2012-08-25 04:00:00+05:30 2012-08-24 22:30:00+00:00
...                         ...                       ...
18283 2014-09-25 19:00:00+05:30 2014-09-25 13:30:00+00:00
18284 2014-09-25 20:00:00+05:30 2014-09-25 14:30:00+00:00
18285 2014-09-25 21:00:00+05:30 2014-09-25 15:30:00+00:00
18286 2014-09-25 22:00:00+05:30 2014-09-25 16:30:00+00:00
18287 2014-09-25 23:00:00+05:30 2014-09-25 17:30:00+00:00

[18288 rows x 2 columns]

---

***Select a random date***

---

In [ ]:
data['asia_timezone'][18287]

Timestamp('2014-09-25 23:00:00+0530', tz='Asia/Calcutta')

In [ ]:
data['utc_timezone'][18287]

Timestamp('2014-09-25 17:30:00+0000', tz='UTC')

***You can see that time difference is 5 hours 30 minutes.***

---

---

#### `READING DATA WITH UNIX TIMESTAMP.`

- A UNIX timestamp is a way of storing a specific date and time. The timestamp is a ten digit number which represents the number of seconds that have passed since midnight on the 1st January 1970, UTC time.

---

In [ ]:
# read data
data_with_unix_ts = pd.read_csv('datasets/data_with_timestamp.csv')

In [ ]:
# view the data
data_with_unix_ts.head()

   ID   timestamp  Count
0   0  1345852800      8
1   1  1345856400      2
2   2  1345860000      6
3   3  1345863600      2
4   4  1345867200      2

In [ ]:
# convert the unix timestamp to datetime.
data_with_unix_ts.timestamp = pd.to_datetime(data_with_unix_ts.timestamp, unit='s')

In [ ]:
# view the top rows
data_with_unix_ts.head()

   ID           timestamp  Count
0   0 2012-08-25 00:00:00      8
1   1 2012-08-25 01:00:00      2
2   2 2012-08-25 02:00:00      6
3   3 2012-08-25 03:00:00      2
4   4 2012-08-25 04:00:00      2